<% buttons = Spree::HtmlInvoice::Config[:print_buttons] || "invoice"
   buttons = buttons.split(",").collect{|b| b.strip } %>
<%  buttons.each do |button| %>
  <li>
    <%= link_to_with_icon 'report.svg',
      Spree.t(button.to_s + ".print"),
      "/admin/invoice/#{@order.number}/#{button}",
      target: "_blank",
      class: "nav-link"
    %>
  </li>
<%end%>
